<div class="container" style="text-align: center;">
    <%# <h1 class="heading">Friends List</h1> %>

    <h1 class="m-2 mb-4 title">Friends</h1>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div id='form' class='_form'>
                <h4>Add New Friend</h4>
                <fieldset>
                    <%= form_tag(friends_path, method: "post") do %>
                    <%= text_field_tag(:email, nil, placeholder: "Friend Email...", class: "form-control") %>
                    <br />
                    <%if flash[:friend_error].present?%>
                    <div class="alert alert-danger">
                        <%= flash[:friend_error] %>
                    </div>
                    <% end %>
                    <%if flash[:friend_succes].present?%>
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong><%= flash[:friend_succes] %></strong>
                    </div>
                    <% end %>
                    <input type='submit' name='submit' value='Add' style="width: 200px" />
                    <% end %>
                </fieldset>
            </div>
        </div>


        <div class="col-sm-6" >
            <div class="borderbox-container">
                <table class="orders-table">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    <% @friends.each do |friend| %>
                    <tr class="data-row">
                        <td><%= friend.name %></td>
                        <td><%= friend.email %></td>
                        <td>
                            <%= link_to 'Unfriend', friend_path(friend), method: :delete %>
                        </td>
                    </tr>
                    <% end %>
                </table>
            </div>
        </div>
    
    
    </div>
    
    
        
    
</div>