<div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-lg-5">
                <div id='form' class='_form'>
                    <fieldset>
                        <legend>Create new group</legend>
                        <%= form_tag(groups_path, method: "post") do %>
                        <%= text_field_tag(:name, nil, placeholder: "Group name...", class: "form-control") %>
                        <br />
                        <%if flash[:group_error].present?%>
                        <div class="alert alert-danger">
                            <%= flash[:group_error] %>
                        </div>
                        <%end%>
                        <input type='submit' name='submit' value='Create' />
                        <br>
                        <% end %>
                    </fieldset>

                    <% @groups.each do |group| %>
                    <div class="mr-3 p-3 card bg-light text-dark shadow-sm p-3 mb-5 bg-white rounded">
                        <ul class="ml-3">
                            <div class="mb-2">
                                <li class="fa fa-users"> <%= group.name %></li>
                            </div>
                            <a href=<%= edit_group_path(group) %> class="card-link">Add friends</a>
                            <%= link_to 'Delete', group, method: :delete %>
                        </ul>
                    </div>
                    <% end %>
                </div>
            </div>
            <div class="p-3 col-lg-7 invited-container">
                <% if defined? (@group) %>
                <h2><%= @group.name %> </h2>
                <br>
                <fieldset>
                    <legend>Add friends</legend>
                    <div class='_form'>

                        <%= form_tag(groups_users_path(@group), method: "post") do %>
                        <%= text_field_tag(:name, nil, placeholder: "Friend name...", class: "form-control") %>
                        <br />
                        <%if flash[:friend_error].present?%>
                        <div class="alert alert-danger">
                            <%= flash[:friend_error] %>
                        </div>
                        <% end %>
                        <%= submit_tag "Add", class: "btn btn-outline-info " %>

                        <% end %>
                </fieldset>

                <br>
                <div class="d-flex .align-content-around flex-wrap" id="invited">
                    <% @group.users.each do |user| %>
                    <div class="mr-3 p-3 card bg-light text-dark shadow-sm p-3 mb-5 bg-white rounded">
                        <ul class="ml-3">
                            <div class="mb-2">
                                <li class="fa fa-user"> <%= user.name %></li>
                            </div>
                            <div class="remove-btn text-danger"><%= link_to 'Remove', remove_user_path(user, :group_id => @group), method: :delete %></div>
                        </ul>
                    </div>
                    <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>