<div class="container">

   <% if !flash[:notice].blank? %>
   <div class="alert alert-info">
      <%= flash[:notice] %>
   </div>
   <% end %>

   
   <% flash.each do |type, msg| %>
      <div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%= msg %></strong>
      </div>
   <% end %>

   <h1>My Orders</h1>
   <table class="orders-table">
      <tr>
         <th>Name</th>
         <th>Restaurant</th>
         <th>Menu</th>
         <th>Invited Friends</th>
         <th>Joined Friends</th>
         <th>Status</th>
         <th>Action</th>
      </tr>
      <% @user_orders.each do |order| %>
      <tr class = "data-row">
         <td><%= order.name %></td>
            <td><%= order.restaurant %></td>
            <td><%= order.menu %></td>
            <td><%= order.invites.where(joined: false).count %></td>
            <td><%= order.invites.where(joined: true).count %></td>
            <td><%= order.status %></td>
            <td>
               <% if order.status == "waiting" %>
                    <%= link_to 'finish', order_path(id:order.id , link:"finish") , method: :patch%>
                    <%= link_to 'cancel', order_path(id:order.id , link:"cancel") , method: :patch%>
                <% end %>
                <%= link_to 'view', order , method: :get%>
            </td>
      </tr>
      <% end %>
   </table>

   <h1>Invited Orders</h1>
   <table class="orders-table">
      <tr>
         <th>Name</th>
         <th>Restaurant</th>
         <th>Menu</th>
         <th>Invited Friends</th>
         <th>Joined Friends</th>
         <th>Status</th>
         <th>Action</th>
      </tr>
      <% @user_invited_orders.each do |order| %>
      <tr class="data-row">
         <td><%= order.name %></td>
         <td><%= order.restaurant %></td>
         <td><%= order.menu %></td>
         <td><%= order.invites.where(joined: false).count %></td>
         <td><%= order.invites.where(joined: true).count %></td>
         <td><%= order.status %></td>
         <td>
            <%= link_to 'view', order , method: :get%>
         </td>
      </tr>
      <% end %>
   </table>
</div>