<style>
  /*---- 	BLOG SECTION ----*/
  
  
  
  .post header{
  	padding:20px;
  }
  
  
  .post-details{
      position:relative;
  		font-size: 15px;
  }
  
  .post-comment-budge{
  	height: 70px;
  	width: 70px;
  	position: absolute;
  	top: 5px;
  	right:0;
  	border: none;
  	border-radius: 100%;
  	background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  
  .post-comment-budge a ,.post-comment-budge a:hover{
  	color: white;
  	font-size: 20px;
  	line-height: 20px;
  	text-decoration: none;
  }
  
  
  .post-comment-budge .fa-thumbs-up{
  	display: block;
  	font-size: 15px;
  	padding:0;
  	margin-bottom: 4px;
  
  }
  
  .post-comment-budge:hover{
  	background-color: #313030;
  }
  .post-details{
    background-color: whitesmoke;
  }
</style>
<div class="container-fluid">
  <header>
    <div class="post-details">
      <strong style="text-transform:uppercase"> <%= @order.name %> </strong>
      <i class="fa fa-user ml-3" aria-hidden="true"></i>
      <span > <%= @order.user.name %> </span>
      <i class="fa fa-clock-o ml-3" aria-hidden="true"></i>
      <time >  <%= @order.user.created_at %> </time>
      <i class="fa fa-cutlery ml-3" aria-hidden="true"></i>
      <span style="color: ;"> <%= @order.restaurant %></span>
      <div class="post-comment-budge">
        <span class="fa fa-thumbs-up"></span>
        &nbsp<%= @order.invites.where(joined: true).count %>
      </div>
    </div>
    <hr>
  </header>
  <% flash.each do |type, msg| %>
    <% if type == "notice" %>
      <div class="alert alert-success ">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= msg %></strong>
      </div>
    <% end %>
  <% end %>
  <div id="content" >
    <article class="post">
      <div class="row">
        <div class="col-md-3">
          <a id="single_image" href="<%= @order.menu %>"><img src="<%= @order.menu %>"  class="img-fluid" alt="menu" width="340px"/></a>
      </div>
      <div class="col-md-5" style="color: whitesmoke;">
        <h4>Order Items :</h4>
        <div class="borderbox-container">
          <table class="text-dark orders-table" >
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Comment</th>
              <th>User</th>
              <th>Action</th>
            </tr>
            <% @order.items.each do |item| %>
              <tr>
                <td><%= item.item %></td>
                <td><%= item.price %></td>
                <td><%= item.quantity %></td>
                <td><%= item.comment %></td>
                <td><%= item.user.name %></td>
                <% if item.user == current_user ||@order.user == current_user %>
                  <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
        <p id="notice"><%= notice %></p>
        <% if @order.status != "cancelled" && @order.status != "finished" &&( @order.user == current_user ||@order.invites.where({joined: true, user_id: current_user.id}).count>0 )  %>
          <% flash.each do |type, errors| %>
            <% if type == "error" %>
              <div class="alert alert-danger p-2">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <ul style="margin-left: 30px;">
                <% errors.each do |error| %>
                  <li><strong><%= error[0] %> : </strong><ul style="margin-left: 30px;"><% error[1].each do |msg| %><li><%= msg %></li> <% end %> </ul></li>
                  <br>
                <% end %>
                </ul>
              </div>
            <% end %>
          <% end %>
          <%= form_for :item, url: {:controller=>"items" ,:action=>"create"} do |f| %>
            <div class="form-group">
              <%= f.text_field :item ,placeholder:"item name" , class:"form-control mt-5"%>
            </div>
            <div class="form-group">
              <%= f.text_field :quantity ,placeholder:"item quantity" , class:"form-control mt-5"%>
              <div class="form-group">
                <%= f.text_field :price ,placeholder:"item price" , class:"form-control mt-5"%>
              </div>
              <div class="form-group">
                <%= f.text_field :comment ,placeholder:"your comment" , class:"form-control mt-5"%>
              </div>
              <%= f.hidden_field :user_id, value:current_user.id %>
              <%= f.hidden_field :order_id, value:@order.id %>
              <%= f.submit 'Add Item', class:"btn btn-primary"%>
            <% end %>
          <% end %>
        </div>
    
      </div>
      <div class="col-md-4">
        <% if current_user == @order.user %>
          <h4>Pending Requests :</h4>
          <div class="borderbox-container">
            <table class="text-secondary orders-table">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
              <% @order.invites.where(joined: false).each do |item| %>
                <tr>
                  <td><%= item.user.name %></td>
                  <td><%= item.user.email %></td>
                  <td>
                    <%= link_to 'Delete', remove_invitation_path(item), method: :delete %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  </article>
</div>
<!-- col -->
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script>
  $(document).ready(function() {
  	$("a#single_image").fancybox();
  
  	$("a#inline").fancybox({
  		'hideOnContentClick': true
  	});
  
  	$("a.group").fancybox({
  		'transitionIn'	:	'elastic',
  		'transitionOut'	:	'elastic',
  		'speedIn'		:	600,
  		'speedOut'		:	200,
  		'overlayShow'	:	false
  	});
  
  });
</script>
